@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: #097225;
    background: radial-gradient(at center bottom, #097225, #010101 100%);
}

.hero-main {
    height: 100vh;
}

.bg-gradient {
    background: #097225;
    background: radial-gradient(at center bottom, #097225, #010101 60%);
}

.navbar {
    background-color: #010101;
}

.hero-h1 {
    font-family: "Hanken Grotesk", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 55px;
}

.hero-text {
    font-family: "Hanken Grotesk", sans-serif;
    font-style: bold;
    font-size: 18px;
    font-weight: 400;
}

.btn-subscribe {
    background-color: #35E08F;
    font-style: bold;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 900;
    border-radius: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

input[type=text] {
    border: 2px solid white;
    border-radius: 20px;
    background-color: #010101;
    background-image: url('/assets/images/glass.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 50px;
}

.hero-img {
    width: 500px;
}

@media screen and (max-width: 1200px) {
    .hero-img {
        width: 450px;
    }
}

@media screen and (max-width: 992px) {
    .hero-img {
        width: 250px;
    }
}

@media screen and (max-width: 768px) {
    .hero-h1 {
       margin-top: 30px;
    }
  }