@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

.hero-main {
    height: 100vh;
}

.bg-gradient {
    background: #097225;
    background: radial-gradient(at center bottom, #097225, #010101 60%);
}

.navbar {
    background-color: #010101;
}

.hero-text {
    font-family: "Hanken Grotesk", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 55px;
}

.btn-subscribe {
    background-color: #35E08F;
    font-style: bold;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 900;
}

.hero-img {
    width: 600px;
}

@media screen and (max-width: 1200px) {
    .hero-img {
        width: 450px;
    }
}

@media screen and (max-width: 992px) {
    .hero-img {
        width: 250px;
    }
}